# Output for The List itself
/TheList/

# Utilities output objects + programs
/utilities/bin/
/utilities/makelist/makelist
/utilities/makehtml/makehtml

# General Free Pascal object outputs
*.o
*.or
*.ppu
