# Output for The List itself
/TheList/

# Utilities output objects + programs
/utilities/bin/
/utilities/makelist/makelist
/utilities/makehtml/makehtml

# General Free Pascal object outputs
*.o
*.or
*.ppu

# Lazarus IDE build artifacts and backups
/utilities/makelist/backup
/utilities/makelist/lib
/utilities/makehtml/backup
/utilities/makehtml/lib

# Custom contributor file exclusions
mak.sh
