--------------------------------------------------------------------------------
 Unique ID: 330015
  Category: M 	mouse/pointing device
      Flag: n/a
--------------------------------------------------------------------------------

INT 33 - MS MOUSE v6.0+ - RETURN DRIVER STORAGE REQUIREMENTS
	AX = 0015h
Return: BX = size of buffer needed to store driver state
SeeAlso: AX=0016h,AX=0017h,AX=0042h

